

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.main {
  height: 750px;
}

#footer-style {
  border-top-style: solid;
  background-color: azure;
  position:bottom;
  height: 100px;
}

#footer-style #copy-right {
  font-size: 20px;
  text-align: left;
  top:30%;
  position: relative;
}

#home-title {
  color: rgba(0, 0, 255, 0.655);
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color:black;
}